/* 
1)Typography system 
 - Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700 

heading font:IBM Plex Serif
normal text:Rubik

--- 02 COLORS
- Primary:#f59f00 ,#573800
- Tints:#f6a91a #f8bc4d, #f7b233 #facf80 ,#fbd999 , #fce2b3  nav-backColor #FEF5E6
- Shades:#dd8f00 #c47f00 #ac6f00 
- Accents: #ff922b #ffa855 #cc7522
- Greys:#333 ,#222

--- 05 SHADOWS

--- 06 BORDER-RADIUS

--- 07 WHITESPACE
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: 1px solid #ff922b;
  box-shadow: inset 0 0 0 3px #ff922b;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  /* position: relative; */
}
.heading-font {
  font-family: "IBM Plex Serif", serif;
  color: #523500;
}
.link {
  text-decoration: none;
  color: #333;
  font-size: 2rem;
  font-weight: 400;
}
.link-btn {
  background-color: #7950f2;
  padding: 1rem 2rem;
  border-radius: 1.6rem;
  color: #fff;
  transition: all 0.3s;
}
.link-btn:hover {
  background-color: #cf711f;
}

.hidden {
  opacity: 0 !important;
  pointer-events: none !important;
  visibility: hidden !important;
}
.mobile-nav {
  position: absolute;
  /* top: 0%; */
  /* left: 50%; */
  display: flex;
  /* grid-template-columns: 1fr; */
  gap: 1rem;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  z-index: 9;
  backdrop-filter: blur(10px);
}
.mobile-nav-list li {
  list-style: none;
  margin-bottom: 2rem;
  justify-content: center;
  font-size: 2.4rem;
}
.mobile-nav-link {
  color: #222;
  padding: 1rem 1.6rem;

  /* font-size: 2.8rem; */
}
.mobile-nav-link.link-btn {
  padding: 1rem 1.6rem;
  color: #fff;
}
.mobile-nav-link {
  text-decoration: none;
}
.header-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
