@media (max-width: 70em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }
}
@media (max-width: 62em) {
  html {
    /* 9px / 16px  */
    font-size: 52.5%;
  }
  .main-heading {
    font-size: 4.2rem;
  }
  .hero-text p {
    font-size: 1.8rem;
  }
  .link-btn-Explore {
    padding: 1.6rem 1.8rem;
  }
  .CTA-text h3 {
    font-size: 2.8rem;
  }
  .features-box h3 {
    font-size: 2.8rem;
  }
  .features-box p {
    font-size: 1.6rem;
  }
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }
  /* Omnifood -nav */

  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
    z-index: 9;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    z-index: 9;
    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
  .Help-Support {
    width: 60%;
  }
}
@media (max-width: 44em) {
  html {
    font-size: 50%;
  }
  .container {
    grid-template-columns: 1fr;
    gap: 4rem;
    margin: 0 auto;
    align-content: center;
    text-align: center;
  }
  .main-heading {
    font-size: 4.8rem;
  }
  .hero-text p {
    font-size: 2.4rem;
  }
  .link-btn-Explore {
    padding: 2rem 2.4rem;
  }
  .main-nav {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  .menu-icon {
    opacity: 100%;
    pointer-events: auto;
    visibility: visible;
  }
  .step-4 {
    margin-bottom: 5rem;
  }
  .features-box h3 {
    font-size: 2.4rem;
  }
  .features {
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 4rem;
    margin-top: 5rem;
    justify-items: center;
  }
  .features-box {
    max-width: 75%;
  }
  .CTA {
    grid-template-columns: 1fr;
  }
  .Sign-in-window {
    grid-template-columns: 1fr;
    height: 80%;
    width: 60%;
    padding: 2px;
  }
  .Sign-in-window form {
    padding: 1px;
  }
  .Sign-in-window label {
    font-size: 1.6rem;
  }
  .Sign-in-window input {
    font-size: 1.6rem;
    padding: 3px;
  }
  .Sign-in-window a:link,
  .Sign-in-window a:visited {
    padding: 1.2rem 1.4rem;
  }
}

@media (max-width: 34em) {
  html {
    font-size: 47.5%;
  }
  .main-heading {
    font-size: 3.4rem;
  }
  .hero-text p {
    font-size: 1.8rem;
  }

  .link-btn-Explore {
    padding: 1.6rem 2rem;
  }
  .step h3 {
    font-size: 4.8rem;
  }

  .step {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 1fr;
    align-content: center;
  }
  .step-info h4 {
    font-size: 1.8rem;
  }
  .step-link {
    padding: 1rem 1.2rem;
  }
  .step-info {
    font-size: 1.4rem;
  }
  .link-btn {
    padding: 1.4rem 1.6rem;
  }
  .features h2 {
    font-size: 4.6rem;
  }
  .CTA-text h3 {
    font-size: 2rem;
    letter-spacing: 0;
  }
  .CTA-text p {
    font-size: 1.6rem;
  }
  .CTA-text-link {
    padding: 1rem 1.4rem;
  }
  .CTA-text label {
    padding: 1px;
    font-size: 1.6rem;
  }
  .features-box h3 {
    font-size: 2rem;
    font-weight: 700;
  }
  .features-box p {
    font-size: 1.2rem;
    color: #222;
    font-weight: 500;
  }
  footer {
    gap: 2rem;
    padding: 1rem;
  }
  footer a {
    font-size: 1.6rem;
  }
  .Copyright-text {
    font-size: 1.6rem;
  }
  footer address {
    font-size: 1.6rem;
  }
  .Help-Support {
    width: 70%;
  }
  .Help-Support form {
    padding: 2rem;
  }
  .Help-Support h2 {
    font-size: 3rem;
  }
  .Help-Support label {
    font-size: 1.6rem;
  }
  .Help-Support input,
  .Help-Support textarea {
    font-size: 1.2rem;
    padding: 0.8rem;
  }
  .Help-Support button {
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
  }
}
