/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #fdf2e9; */

  /* Because we want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 4.8rem;
  padding: 1px;
}
.logo *:focus {
  outline: 1px solid #cf711f;
}

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.03s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #7950f2;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #5f3dc4;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

.header-hero {
  background-color: #f3f0ff;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f0ff;
  padding: 2rem 4.8rem;
}
.sticky {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(243, 240, 255, 0.95);
  z-index: 99;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}
.logo {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
}
.logo-icon {
  font-size: 4.4rem;
  color: #523500;
  border-radius: 1.6rem;
}
.logo-text {
  font-size: 2.4rem;
  color: #523500;
}
.menu-icon {
  height: 3.6rem;
  width: 3.6rem;
  position: absolute;
  right: 5rem;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.close-icon {
  height: 3.6rem;
  width: 3.6rem;
  position: absolute;
  right: 5rem;
  z-index: 9;
}

/* navigation */
.nav-list {
  display: flex;
  list-style: none;
  align-items: flex-end;
  gap: 3rem;
}
.nav-link {
  text-decoration: none;
  color: #333;
  font-size: 2rem;
  font-weight: 400;
  padding: 1rem;
  border-radius: 1rem;
}
.link-btn {
  background-color: #ff922b;
  border-radius: 1.6rem;
  color: #000;
  padding: 1rem;
}

/* Hero Section */
.hero-section {
  background-color: #f3f0ff;
  padding: 8rem;
  padding-top: 5rem;
  position: relative;
}
.container {
  max-width: 130rem;
  display: grid;

  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin: 0 auto;
  align-content: center;
}
.hero-img {
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 2rem;
  margin-bottom: 1rem;
  opacity: 10;
  filter: hue-rotate(185deg);
}
.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}
.hero-text p {
  font-size: 2rem;
  line-height: 1.5;
  color: #333;
}
.main-heading {
  font-size: 4.8rem;
  font-weight: 700;
  color: #111;
}
.link-btn-Explore {
  background-color: #7950f2 !important;
  opacity: 60%;
  color: #fff !important;
  padding: 1.8rem 2rem;
  border-radius: 1.6rem;
  border-radius: 1rem;
  transition: all 0.3s;
}
.link-btn-Explore:hover {
  opacity: 100%;
}

/* Steps */
.Steps-heading {
  font-size: 6.4rem;
  grid-column: 1/-1;
  padding: 8rem 0;
  align-self: center;
  color: #573800;
}
.steps {
  margin: 0 auto;
  max-width: 120rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3rem;
  padding-top: 10rem;
}
.step {
  display: flex;
  flex-direction: column;
  color: #333;
  max-width: 80%;
  gap: 1.2rem;
  border: 2px solid #ff922b;
  border-radius: 2rem;
  transition: all 0.3s;
}
.step:hover {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}
.step h3 {
  font-size: 9rem;
  color: #d0bfff;
}
.step h4 {
  font-size: 2.8rem;
}
.step-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  font-size: 2rem;
  padding: 1rem;
  color: #666;
}
.step-btn {
  padding: 1rem 0;
}
.step-link {
  padding: 1rem 1.6rem;
  background-color: #7950f2;
  text-decoration: none;
  border-radius: 1rem;

  color: #fff !important;
}
.step-link:hover {
  background-color: #5f3dc4;
}
.step-img img {
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.step-1 {
  margin-bottom: 5rem;
}
.step-3 {
  margin-top: 8rem;
  margin-bottom: 5rem;
}
.step-2 {
  margin-top: 9rem;
  margin-bottom: 5rem;
}
.step-4 {
  margin-top: 12rem;
  margin-bottom: 5rem;
}

/* features */
.features {
  margin: 0 auto;
  max-width: 120rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 4rem;
  row-gap: 8rem;
  padding-top: 7rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.features h2 {
  font-size: 6.4rem;
  grid-column: 1/-1;
  padding-bottom: 2rem;
  color: #573800;
  padding-top: 8.4rem;
}
.features-box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 1fr 1fr;
  gap: 1rem;
  border: 1px solid #ff922b;
  align-items: center;
  border-radius: 2rem;
  overflow: hidden;
  transition: all 0.3s;
}
.features-box:hover {
  transform: translateY(-1rem);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}
.features-box h3 {
  font-size: 3.2rem;
  padding: 1rem;
  line-height: 1;
  font-weight: 700;
  color: #333;
  align-self: center;
}
.features-box p {
  font-size: 1.8rem;
  padding: 1rem;
  color: #666;
  align-self: start;
}
/* CTA */
.CTA-container {
  padding: 3rem;
}
.empty {
  height: 25vh;
}
.CTA {
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid #ff922b;
  border-radius: 2rem;
  background-color: #f3f0ff;
  overflow: hidden;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
}

.CTA-heading {
  font-size: 6.4rem;
  padding-bottom: 2rem;
  color: #573800;
}
.CTA-text {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 2rem;
  border-right: 1px solid #333;
}
.CTA-text h3 {
  font-size: 3.2rem;
  letter-spacing: -1px;
  line-height: 0.9;
  align-self: center;
  font-weight: 700;
}
.CTA-text label {
  align-self: end;
  font-size: 1.8rem;
  padding: 3px;
}
.CTA-text p {
  font-size: 1.8rem;
  align-self: center;
  color: #666;
}
.CTA-btn {
  margin-top: 2rem;
}
.CTA-link {
  padding: 1.2rem 1.6rem;
  background-color: #7950f2;
  text-decoration: none;
  border-radius: 1rem;
  color: #fff !important;
  font-size: 1.6rem;
  text-decoration: none;
  transition: all 0.3s;
}
.CTA-link:hover {
  background-color: #5f3dc4;
}
.CTA input {
  border-radius: 0.8rem;
  padding: 1rem;
  border: none;
  font-size: 1.6rem;
}
.CTA input:focus {
  border: none;
  box-shadow: inset 0 0 0 3px #ff922b;
}

.seprate {
  border-top: 1px solid rgba(0, 0, 0, 0.151);
  margin-top: 15rem;
}

/* Footer */
footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto;
  margin-top: 10rem;
  margin-bottom: 10rem;
  justify-content: center;
  justify-items: center;
  padding: 3rem;
}
.icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.foot-icon-link {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.Copyright-text {
  margin-top: 2rem;
  font-size: 1.8rem;
  color: #666;
}
.foot-logo {
  height: 3.6rem;
  width: 3.6rem;
}
.social {
  display: flex;
  gap: 2rem;
  padding-top: 1rem;
}
.social-icon {
  font-size: 2.4rem;
  color: #666;
}
.contact {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  color: #666;

  gap: 2.4rem;
}
.contact h3 {
  margin-bottom: 1rem;
}
.contact address {
  font-style: normal;
  padding: 1rem 0 0 0;
}
.contact a:link {
  margin-top: auto;
}
.contact a:link,
.contact a:visited {
  text-decoration: none;
  color: #666;
}
.account {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.account h3 {
  font-size: 1.8rem;
  color: #666;
}
.account a:link,
.account a:visited {
  text-decoration: none;
  font-size: 1.8rem;
  color: #666;
}
/* Sign in modal */
.overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  backdrop-filter: blur(10px);
  transition: all 0.4s;
  z-index: 99;
}
.Sign-in-modal {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  position: absolute;
  top: 0;
  transition: all 0.2s;
}
.Sign-in-window {
  height: 75%;
  width: 50%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  border: 1px solid #ff922b;
  box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0.116);
  border-radius: 5rem;
  background-color: #f3f0ff;
  overflow: hidden;
  z-index: 999;
}
.Sign-in-img {
  overflow: hidden;
}
.Sign-in-window form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 1.5fr 1fr;
  align-items: center;
  justify-items: center;
  color: #111;
  padding: 1rem;
}
.Sign-in-window a:link,
.Sign-in-window a:visited {
  text-decoration: none;
  color: #333;
  background-color: #7950f2;
  padding: 1.6rem 2rem;
  border-radius: 1.6rem;
  color: #fff;
  transition: all 0.3s;
  font-size: 1.8rem;
}
.Sign-in-window a:hover,
.Sign-in-window a:active {
  background-color: #cf711f;
}
.Sign-in-window label {
  display: block;
}
.Sign-in-window input {
  border-radius: 0.5rem;
  padding: 1rem;
  border: none;
  font-size: 1.6rem;
}
.Sign-in-window input:focus {
  border: none;
  box-shadow: inset 0 0 0 3px #ff922b;
}
.Sign-in-window .email {
  align-self: end;
  font-size: 2rem;
}
.Sign-in-window .password {
  align-self: center;
  font-size: 2rem;
}

/* Help-Support modal */
.Help-Support {
  width: 40vw;
  height: 55vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  z-index: 999;
}
.Help-Support form {
  display: flex;
  flex-direction: column;
  background-color: #f3f0ff;
  border: 1px solid #ff922b;
  padding: 3rem;
  gap: 3rem;
  border-radius: 2rem;
}
.Help-Support h2 {
  font-size: 3.6rem;
  color: #333;
}
.Help-Support label {
  font-size: 2.4rem;
  color: #333;
}
.Help-Support input,
.Help-Support textarea {
  font-size: 2rem;
  border: none;
  outline: 1px solid #ff922b;
  /* box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.479); */
  padding: 0.8rem;
  border-radius: 1rem;
  color: #666;
}

.Help-Support fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}
.Help-Support button {
  align-self: start;
  padding: 1.4rem 1.8rem;
  text-align: center;
  border: none;
  border-radius: 1rem;
  background-color: #7950f2;
  color: #fff;
  font-size: 2rem;
}
.Help-Support button:hover {
  background-color: #5f3dc4;
}
input::placeholder {
  opacity: 50%;
}
textarea::placeholder {
  opacity: 50%;
}
